* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
}

#root {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 100%;
  width: 100%;
  height: 800px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
}

.nav {
  list-style: none;
}

.grid-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.nav > li {
  cursor: pointer;
}

/* notes widget */
.notes-list {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 0;
}

.app-header__title {
  margin: 10px 20px 0px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
}

.app-header__controls {
  display: flex;
  align-items: center;
  margin: 10px 0 0 10px;
}

.search,
.add-new {
  font-size: 14px;
  padding: 5px;
  margin: 8px;
}

.search {
  flex-grow: 1;
  max-width: 300px;
}

.add-new {
  border-radius: 5px;
  cursor: pointer;
  padding: 8px;
  font-weight: bolder;
  background-color: #f2eeee;
  outline: 1px solid black;
  border: none;
}

.note {
  width: 200px;
  height: 200px;
  margin: 10px;
  background-color: lightyellow;
  border: 1px solid grey;
  box-shadow: 2px 2px 3px lightgrey;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.note__title,
.note__body {
  width: 100%;
  padding: 8px 14px;
  background: transparent;
  border: none;
  font-family: 'Helvetica', sans-serif;
}

.note__title {
  font-size: 16px;
  font-weight: bold;
  border: none;
}

.note__body {
  flex-grow: 1;
  font-size: 14px;
}

.note__delete {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 15px;
  color: lightgrey;
  padding: 5px;
}

.note__delete:hover {
  color: black;
  cursor: pointer;
}

/* arena widget */
.arena-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  overflow: scroll;
}

.arena-channel-list {
  width: 50%;
}

.arena-block {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.arena-img {
  width: 70%;
  max-width: 100%;
}

.arena-description {
  max-width: 100%;
}

.arena-title {
  max-width: 100%;
}